.heightfill {
    height:100%;
}

.icon {
    font-size: 20px;
}

.show {
    display:block;
}

.hide {
    display:none;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .searchfield {
        margin-bottom:50px;
    }
    .hide {
        display:block;
    }
}