<html ng-app="sorter">
    <head>
        <!-- Used by ui router -->
        <base href="/">

        <!-- This will make sure  -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Car Sorting App</title>

        <!-- Dependencies -->
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
        

        <!-- Customer CSS -->
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Fallback Dependencies -->
        <!--
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2">
        -->

    </head>

    <body ng-controller="IndexController as vm" layout="column">
        <md-toolbar>
            <h1 flex>Car Sorting App</h1>
        </md-toolbar>
        
        <md-tabs layout="column" flex>
            <md-tab label="Search 1">
                <md-content layout="column" class="md-padding heightfill" ng-cloak infinitescroll="vm.loadmore()">
                    <a href="#top1" name="topanchor" id="top1"></a>
                    <h1>Search Cars With Angular ng-repeat Filter</h1>
                    <p>
                        This method uses Angular to do the ordering and searching of all cars. 
                        It starts by displaying all cars. Usually rendering 6000+ items at once would run slowly so I implemented 
                        an infinite scrolling feature to make this run faster.
                    </p>
                    <p>
                        This uses Angular ng-repeat to display all the items. In the ng-repeat I have <code>orderBy: 'Make_Name.trim()'</code>, 
                        which will order the list alphabetically by the Make_Name property. The reason I use the trim() method is because 
                        some of the names have white space in front which will make the ordering wrong. i.e. ' Jeep' would come before 'Aston Martin'
                    </p>
                    <p>
                        To do the searching I use the ng-repeat filter method (which is not a true search, that is in the second tab) <code>filter: vm.search</code> 
                        which will filter the list down to items only containing the query string that is typed into the top search bar.
                    </p>

                    <div layout="row" class="searchfield">
                        <md-input-container flex>
                            <label>Search</label>
                            <input type="text" ng-model="vm.search">
                        </md-input-container>
                        <md-button class="md-secondary md-primary" ng-if="!vm.carsorder" ng-click="vm.reverseorder(1)">
                            <md-tooltip>Click Me To Sort The List From Z - A</md-tooltip>
                            <md-icon class="fa icon" md-font-icon="fa-sort-alpha-asc"></md-icon>    
                        </md-button>
                        <md-button class="md-secondary md-primary" ng-if="vm.carsorder" ng-click="vm.reverseorder(1)">
                            <md-tooltip>Click Me To Sort The List From A - Z</md-tooltip>
                            <md-icon class="fa icon" md-font-icon="fa-sort-alpha-desc"></md-icon>  
                        </md-button>
                    </div>


                    <md-list flex>
                        <md-subheader ng-if="vm.cars.length > 0" class="md-no-sticky">
                            <div ng-if="filtered.length < vm.cars.length && vm.showlimit > filtered.length">
                                Showing {{filtered.length}} of {{filtered.length}} Cars Matching '{{vm.search}}'
                            </div>
                            <div ng-if="filtered.length < vm.cars.length && vm.showlimit < filtered.length">
                                Showing {{vm.showlimit}} of {{filtered.length}} Cars Matching '{{vm.search}}'
                            </div>
                            <div ng-if="filtered.length == vm.cars.length">
                                Showing {{vm.showlimit}} of {{vm.cars.length}} Cars
                            </div>
                        </md-subheader>

                        <h2 ng-if="vm.cars.length == 0">
                            Loading Cars...
                        </h2>
                        <h3 ng-if="filtered.length == 0 && vm.search != null">
                            Looks like no cars were foung matching '{{vm.search}}'
                        </h3>
                        <!-- I used Angular's build in repeater ordering the list by the Make_Name. I also use the ng-repeat filter function to perform the search
                        With the Cars there was an issue with the way they were being ordered because a lot of them had blank spaces in front of them so in the orderBy I 
                        used the JavaScript trim() method to ensure that they are ordered properly. -->

                        <md-list-item class="md-3-line md-whiteframe-5dp" ng-repeat="car in filtered = (vm.cars | filter:vm.search) | orderBy:'Make_Name.trim()':vm.carsorder | limitTo:vm.showlimit">
                            <div class="md-list-item-text">
                                <h3>{{car.Make_Name}}</h3>
                                <p>Make ID: {{car.Make_ID}}</p>
                            </div>
                        </md-list-item>
                    </md-list>

                </md-content>
                <md-button class="md-accent md-fab md-fab-bottom-right hide" ng-click="vm.scrolltop('top1')">
                    <md-tooltip md-direction="top">Click Me To Get Back To The Top</md-tooltip>
                    <md-icon md-font-icon="fa-angle-up" class="fa icon"></md-icon>
                </md-button>
            </md-tab>

            <md-tab label="Search 2">
                <md-content layout="column" class="md-padding heightfill" ng-cloak infinitescroll="vm.loadmore()">
                    <a href="#top2" name="topanchor" id="top2"></a>
                    <h1>Search By Calling Angular Function</h1>

                    <p>This method calls a function in the Angular controller which does a search of all the items in the vm.cars array. I am still using Angular to order the list</p>
                    
                    <p>
                        I created an Array.prototype method called Search which will call Array.prototype.filter on the vm.cars 
                        array (which contains all the available cars) and return all values where <code>Make_Name.toLowerCase().includes(query.toLowerCase())</code> 
                        I do the .toLowerCase() method to make sure that searching is case insensitive so that we pull back all relevant results.
                    </p>

                    <p>
                        This has also been adapted to use the same infinite scrolling capability as the first search function when we start dealing with larger lists 
                        or if a user wants to search for all cars
                    </p>

                    <div layout="row" class="searchfield">
                        <md-input-container flex class="md-input-has-placeholder">
                            <label>Search</label>
                            <input type="text" ng-model="vm.keysearch" ng-keyup="vm.search1(vm.keysearch)" placeholder="Enter A Car Name Here or Type 'All' to see all cars">
                        </md-input-container>

                        <md-button class="md-secondary md-primary" ng-if="!vm.cars2order" ng-click="vm.reverseorder(2)" ng-disabled="vm.cars2.length == 0">
                            <md-tooltip>Click Me To Sort The List From Z - A</md-tooltip>
                            <md-icon class="fa icon" md-font-icon="fa-sort-alpha-asc"></md-icon>    
                        </md-button>
                        <md-button class="md-secondary md-primary" ng-if="vm.cars2order" ng-click="vm.reverseorder(2)" ng-disabled="vm.cars2.length == 0">
                            <md-tooltip>Click Me To Sort The List From A - Z</md-tooltip>
                            <md-icon class="fa icon" md-font-icon="fa-sort-alpha-desc"></md-icon>  
                        </md-button>
                    </div>



                    <md-list flex>
                        <md-subheader ng-if="vm.cars2.length > 0" class="md-no-sticky">
                            <div ng-if="vm.showlimit < vm.cars2.length && vm.cars2.length != vm.cars.length">
                                Showing {{vm.showlimit}} of {{vm.cars2.length}} Cars Matching '{{vm.keysearch}}'
                            </div>
                            <div ng-if="vm.showlimit > vm.cars2.length && vm.cars2.length != vm.cars.length">
                                Showing {{vm.cars2.length}} of {{vm.cars2.length}} Cars Matching '{{vm.keysearch}}'
                            </div>
                            <div ng-if="vm.cars2.length == vm.cars.length">
                                Showing {{vm.showlimit}} of {{vm.cars2.length}} Cars
                            </div>
                        </md-subheader>

                        <h2 ng-if="vm.cars2.length == 0 && vm.keysearch == null || vm.keysearch == ''">
                            Start your car search
                        </h2>

                        <h3 ng-if="vm.cars2.length == 0 && vm.keysearch != null && vm.keysearch != ''">
                                Looks like no cars were foung matching '{{vm.keysearch}}'
                        </h3>
                        <!-- This example maintains the alphabetical order with the orderBy function even when searching -->
                        <md-list-item class="md-3-line md-whiteframe-5dp" ng-repeat="car in vm.cars2 | orderBy:'Make_Name.trim()':vm.cars2order | limitTo:vm.showlimit track by $index">
                            <div class="md-list-item-text">
                                <h3>{{car.Make_Name}}</h3>
                                <p>Make ID: {{car.Make_ID}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
                <md-button class="md-accent md-fab md-fab-bottom-right hide" ng-click="vm.scrolltop('top2')">
                    <md-tooltip md-direction="top">Click Me To Get Back To The Top</md-tooltip>
                    <md-icon md-font-icon="fa-angle-up" class="fa icon"></md-icon>
                </md-button>
            </md-tab>

            <md-tab label="Search 3">
                
                <md-content layout="column" class="md-padding heightfill" ng-cloak infinitescroll="vm.loadmore()">
                    <a href="#top3" name="topanchor" id="top3"></a>
                    <h1>Search All Items From A BackEnd Function</h1>

                    <p>
                        This method displays all items much faster by using an infinite scroll mechanism. 
                        Rather than displaying all items at once (like the first method) it only displays a few items at a time 
                        until you scroll to the bottom of the page, then more items will be displayed from the list. 
                        I am still using Angular to order the list
                    </p>
                    
                    <p>
                        To do the searching on this example I call a backend HTTP POST function that sorts through the list pulled down from the API.
                    </p>

                    <p>
                        This has also been adapted to use the same infinite scrolling capability as the first search function when we start dealing with larger lists 
                        or if a user wants to search for all cars
                    </p>

                    <div layout="row" class="searchfield">
                        <md-input-container flex class="md-input-has-placeholder">
                            <label>Search</label>
                            <input type="text" ng-model="vm.keysearch2" ng-keyup="vm.search2(vm.keysearch2)" placeholder="Enter A Car Name Here or Type 'All' to see all cars">
                        </md-input-container>
                        <md-button class="md-secondary md-primary" ng-if="!vm.cars3order" ng-click="vm.reverseorder(3)" ng-disabled="vm.cars3.length == 0">
                            <md-tooltip>Click Me To Sort The List From Z - A</md-tooltip>
                            <md-icon class="fa icon" md-font-icon="fa-sort-alpha-asc"></md-icon>    
                        </md-button>
                        <md-button class="md-secondary md-primary" ng-if="vm.cars3order" ng-click="vm.reverseorder(3)" ng-disabled="vm.cars3.length == 0">
                            <md-tooltip>Click Me To Sort The List From A - Z</md-tooltip>
                            <md-icon class="fa icon" md-font-icon="fa-sort-alpha-desc"></md-icon>  
                        </md-button>
                    </div>



                    <md-list flex>
                        <md-subheader ng-if="vm.cars3.length > 0" class="md-no-sticky">
                            <div ng-if="vm.showlimit < vm.cars3.length && vm.cars3.length != vm.cars.length">
                                Showing {{vm.showlimit}} of {{vm.cars3.length}} Cars Matching '{{vm.keysearch2}}'
                            </div>
                            <div ng-if="vm.showlimit > vm.cars3.length && vm.cars3.length != vm.cars.length">
                                Showing {{vm.cars3.length}} of {{vm.cars3.length}} Cars Matching '{{vm.keysearch2}}'
                            </div>
                            <div ng-if="vm.cars3.length == vm.cars.length">
                                Showing {{vm.showlimit}} of {{vm.cars3.length}} Cars
                            </div>
                        </md-subheader>

                        <h2 ng-if="vm.cars3.length == 0 && vm.keysearch2 == null || vm.keysearch2 == ''">
                            Start your car search
                        </h2>
                        <h3 ng-if="vm.cars3.length == 0 && vm.keysearch2 != null && vm.keysearch2 != ''">
                            Looks like no cars were foung matching '{{vm.keysearch2}}'
                        </h3>

                        <md-list-item class="md-3-line md-whiteframe-5dp" ng-repeat="car in vm.cars3 | orderBy:'Make_Name.trim()':vm.cars3order | limitTo:vm.showlimit track by $index">
                            <div class="md-list-item-text">
                                <h3>{{car.Make_Name}}</h3>
                                <p>Make ID: {{car.Make_ID}}</p>
                            </div>
                        </md-list-item>

                    </md-list>
                </md-content>
                <md-button class="md-accent md-fab md-fab-bottom-right hide" ng-click="vm.scrolltop('top3')">
                    <md-tooltip md-direction="top">Click Me To Get Back To The Top</md-tooltip>
                    <md-icon md-font-icon="fa-angle-up" class="fa icon"></md-icon>
                </md-button>
            </md-tab>
        </md-tabs>


        <!-- Dependencies -->
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="/bower_components/angular-material/angular-material.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        
        
        <!-- Fallback Dependencies If Bower Components Fails -->
        <!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-aria.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.6/angular-messages.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js"></script>
        <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
        -->

        <!-- Custom Scripts -->
        <script src="/js/index.module.js"></script>
        <script src="/js/index.controller.js"></script>
    </body>
</html>